<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>News is Cool!</title>
		
		<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<!-- Custom CSS -->
    	<link rel="stylesheet" href="public/styles/styles.css" />
		
		<!-- Scripts -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="assets/js/index.js"></script>
		<script src="assets/js/saved.js"></script>
	</head>
	<body>
		<!-- Nav -->
		<ul class="nav bg-secondary text-light p-2">
  			<li class="nav-item"><h3>Mongo Scraper!</h3></li>
  			<li class="nav-item">
    			<a class="nav-link text-light home" href="/">Home</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link text-light" href="/saved">Saved Articles</a>
 			</li>
			<li class="nav-item">
				<a class="nav-link text-light" id="scrape" href="/scrape">Scrape new articles!</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" id="clear" href="/clear">Clear articles</a>
			</li>
		</ul>

		<!-- Big Picture -->
		<div class="jumbotron jumbotron-fluid">
  			<div class="container">
    			<h1 class="display-4">Mongo Scraper</h1>
    			<p class="lead">Find and save your favorite articles!</p>
  			</div>
		</div>
		
		{{{ body }}}

		<!-- Footer -->
		<footer class="footer">
  			<div class="container">
    			<p>New York Times Mongo Scraper</p>
  			</div>
		</footer>
	</body>
</html>